<% if @recipe.errors.any? %>
  <% @recipe.errors.full_messages.each do |msg| %>
    <div class="alert alert-danger"><%= msg %></div>
  <% end %>
<% end %>
<%= @f.hidden_field(:user_id, {:value=>current_user.id}) %>
<p>Название рецепта<br>
  <%= @f.text_field(:name, {:class => 'form-control'} )%>
</p>
<p>
  Описание<br>
  <%= @f.text_area(:body, {:class => 'form-control'} )%>
</p>