
<%= form_for :country, url:country_path(@country), method: :patch do |f| %>
  <p>
    Название <br>
    <%=f.text_field(:state, {:class => 'form_control'}) %>
  </p>
  <p>
    Система <br>
    <%= f.collection_select(:system_id,  System.all.order(:name), :id, :name, prompt: true)%>
  </p>
  <p>
    <%= f.submit({:class=>'btn btn-success'}) %>
  </p>
<% end %>